{% extends "base.html" %}
{% load static %}


{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/lightgallery.css' %}" />
    <!-- jQuery version must be >= 1.8.0; -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

    <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
    <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>

    <script src="{% static 'js/lightgallery.min.js' %}"></script>

    <!-- lightgallery plugins -->
    <script src="{% static 'js/lg-thumbnail.min.js' %}"></script>
    <script src="{% static 'js/lg-fullscreen.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery({
                dynamic: true,
                dynamicEl: [{
                    "src": 'media/img/1.JPG',
                }, {
                    'src': 'media/img/2.JPG',
                }, {
                    'src': 'media/img/3.JPG',
                }, {
                    'src': 'media/img/4.JPG',
                }, {
                    'src': 'media/img/5.JPG',
                }, {
                    'src': 'media/img/6.JPG',
                }],
                thumbnail:true,
                animateThumb: false,
                showThumbByDefault: false
            });
        });
    </script>
{% endblock %}


{% block content %}
    <div id="lightgallery">
        <a href="media/img/1.JPG">
          <img src="media/img/1.JPG" />
      </a>
      <a href="media/img/2.JPG">
          <img src="media/img/2.JPG" />
      </a>
      <a href="media/img/3.JPG">
          <img src="media/img/3.JPG" />
      </a>
      <a href="media/img/4.JPG">
          <img src="media/img/4.JPG" />
      </a>
      <a href="media/img/5.JPG">
          <img src="media/img/5.JPG" />
      </a>
      <a href="media/img/6.JPG">
          <img src="media/img/6.JPG" />
      </a>
    </div>
{% endblock %}
